body{
    margin:0;
    padding:0;
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    color: #282828;
    font-size: 16px;
}
header{
    width:100%;
    height: 48px;
    left:0;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 9990;
    position:absolute;
}
header nav{
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 1px;
}
.logo{
    margin: 0;
    padding: 9px 0 0 15px;
    float: left;
}
.logo img{
    height:20px;
    vertical-align: bottom;
}
.info-button{
    float:right;
}
hr{
    width: 240px;
    margin: 10px auto 12px auto;
    padding: 0;
    height: 0;
    border: none;
    text-align: center;

}
.main{
    margin: 0 auto;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 10%;
    transform: translateY(-40%) translateX(-10%);
}
#wrap .main{
    margin: 0 20px;
    padding: 0;
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-40%) translateX(0);
}
#wrap{
    background:url(https://kempene-english.jp/ad/temp/img/copy_sp.jpg);
    background-size:cover;
    background-position: bottom right;
    height:500px;
    margin:0;
    padding:0;
    width:100%;
    border-bottom:5px solid #d73143;
    position: relative;

}
.pc-photo{
    display:none;
}
.sp-photo img {
    width: 55%;
}

.link{
    margin:0;
    padding:0;
}
.btn{
    text-align:center;
    display: inline-block;
    color:#fff;
    text-decoration:none;
    line-height: 100%;
    letter-spacing:1px;
    background: linear-gradient(to right, #2156f5, #8c45fb);
    border-radius:60px;
}
.badge img{
    width: 50%;
}
.badge{
    margin: 0;
    padding: 0;
    text-align: right;
    position: absolute;
    vertical-align: bottom;
    bottom: 1%;
    right: 3%;
    transform: translateY(-1%) translateX(-3%);
}


.content2-wrapper{
    margin: 0 0 45px 0;
    padding: 30px 20px;
    background-color: #f3f6f8;
}
.content2{
    margin: 0 auto;
}

.content2-photo{
    width: 100%;
}
.text-box{
    width: 100%;
    margin: 0;
    padding: 0;
}

.memo-img{
    width:100%;
}
.parenthesis{
    padding: 20px 30px 5px 30px;
    margin-bottom:20px;
    box-sizing:border-box;
    position: relative;
    
}


.parenthesis::before,
.parenthesis::after{
    content:'';
    top:0;
    width:30px;
    height:100%;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
    box-sizing:border-box;
    position:absolute;
}

.parenthesis::before{
    left:0;
    border-left: 1px solid #555;
}

.parenthesis::after{
    right:0;
    border-right: 1px solid #555;
}
.size1{
    width:55%;
    margin:20px auto 0 0;
    padding: 20px 0;
    font-size: 14px;
    font-weight: bold;
}
.sub-Title{
    color:#d73143;
    font-size:40px;
    text-align:center;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.first{
    border-top:1px solid red;
    width:240px;
}
.sub-Text{
    text-align:center;
    color:red;
    margin:0 0 30px 0;
    font-size: 18px;
    font-weight: normal;
}

.feature{
    margin: 0;
    padding: 0 0 30px 0;
}

.feature-Box{
    margin: 0 20px;
    padding: 0 0 30px 0;
}
.feature-Number{
    font-size:18px;
    padding: 5px 0 15px 0;
    font-weight: bold;
    line-height: 100%;
    text-align: center;

}
.feature-Number span{
    padding: 5px 12px;
    color: #fff;
    background-color: #d73143;
    border-radius: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}

.feature-Title{
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 125%;
    font-weight: bold;
    line-height: 140%;
    text-align: center;
}

.feature-photo{
    width:100%;
}

.feature-digits{
    text-align:center;
    color: #ff9898;
    font-family: 'Roboto Condensed', sans-serif;
}

/* 山崎追加 inline-blockで横並び*/
.text-wrapper {
    position: relative;
    
}
.contact{
    text-align:center;
    color:#fff;
    background-color:#eb4753;
    margin:0;
    padding: 45px 20px;
}
.contact-title{
    font-size:19px;
}
.contact-title span{
    padding:0 0 5px 0;
    border-bottom:solid 3px #fff;
}
.contact-text{
    font-size:16px;
    margin: 25px 0 0 2px;
    line-height: 180%;
}
.pc{
    display:none;
}
.contact a{
    color:#fff;
    text-decoration: none;
}
.contact-input textarea{
    width:100%;
    height:202px;
}
.caution{
    margin: 25px 0 0 0;
    font-size: 12px;
    text-align:left;
}
.btn-2{
    display: inline-block;
}
.size2{
    width: 100%;
    margin: 15px auto 0 auto;
    padding: 30px 0;
    font-size: 21px;
    font-weight: bold;
    border-radius: 60px;
}
.fact{
    margin:0;
    background-color: #f3f6f8;
    padding: 45px 20px 20px 20px;
}
.fact ul{
    margin: 0 auto;
    padding:0;
}
.fact ul li {
    list-style: none;
    padding: 0 0 45px 0;
    align-items: center;
}
.fact ul li .txt{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.fact ul li .fact-photo{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fact-photo img{
    width:100%;
}
.txt-title{
    margin: 0;
    font-size: 20px;
    line-height: 150%;
}
.txt-head{
    color: #fa5d5d;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 5px;
    font-style: oblique;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 0 10px 0;
}
.photo img{
    width:100%;
}
.result{
    text-align:center;
    background:url("https://kempene-english.jp/ad/temp/img/img_04sp.jpg");
    background-size:cover;
    background-position: center center;
    width:100%;
    height:500px;
    color:white;
    margin: 0 0 75px 0;
    position:relative;
}
.result p{
    text-align: left;
    margin: 15px 30px;
}
p{
    font-size: 16px;
    line-height: 160%;
}
.result-title{
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif;
}
.sub{
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 18px;
}
.message{
    width:100%;
    top:50%;
    left:50%;
    position:absolute;
    transform: translateY(-50%) translateX(-50%);
}
.border{
    border-top: 1px solid #fff;
    width: 240px;
}
.voice-box{
    margin: 0;
    padding: 0 20px 15px 20px;
}
.voice-title{
    margin: 0 0 10px 0;
    padding: 15px 0 5px 0;
    font-size: 120%;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    border-bottom: 1px solid #d73143;
}
.voice-name{
    text-align: center;
    color: #666;
    font-size: 12.8px;
    letter-spacing: 1px;
}
.voice-text{
    font-size: 12.8px;
    line-height: 28.8px;
    letter-spacing: 1px;
}

.voice-photo{
    margin: 0;
    padding: 0;
    text-align: center;
}
.voice-photo img{
    border-radius: 50%;
    width: 50%;
}
.voices{
    margin: 0;
    padding: 0 0 20px 0;
}
.course-title{
    font-size: 24px;
    padding: 0 0 25px 0;
    text-align:center;
}
.course-table{
    margin: 0 20px;
    padding: 0;
}
th{
    width: 100px;
    font-size: 16px;
    color: #fff;
    padding: 10px 0;
    background: #d73143;
    letter-spacing: 1px;
}
td{
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0 10px 10px;
    border-bottom: solid 1px #ccc;
}
.contact-btn{
    text-align:center;
}
.contact-btn a {
    color: #d73143;
    text-decoration: none;
}
.button{
    background: #fff;
    border: solid 2px #d73143;
    text-align: center;
    display:inline-block;
    font-weight: bold;
    line-height: 100%;
    text-decoration: none;
    text-align: center;
    color: #d73143;
}
.pattern1{
    margin: 30px 0 15px 0;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 30px;
    line-height: 16px;
}
.pattern1:hover{
    background-color:#d73143;
    color:#fff;
    transition: 0.3s ease-in-out;
}
.space{
    margin: 75px 0 0 0;
}
.lecturer{
    margin: 0 20px 45px 20px;
    padding: 0;
}
.lecturer-photo img{
    width:60%;
    border-radius:50%;
    text-align:center;
}
.lecturer-photo{
    text-align: center;
}
.lecturer-eng{
    margin: 0;
    padding: 15px 0 0 0;
    font-size: 80%;
    line-height: 150%;
    text-align: center;
    color: #d73143;
    font-family: 'Roboto Condensed', sans-serif;
}
.lecturer-text{
    text-align:left;
}
.lecturer-jp{
    margin: 0;
    padding: 10px 0 5px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
}
.lecturer-jp span{
    font-size: 14px;
    font-weight: normal;
}
.lecturer-sub{
    color:#D73443;
    font-size:20px;
    border-left:1px solid #D73443;
    border-bottom:1px solid #D73443;
    padding: 10px 0 10px 15px;
    margin: 30px 0 0 0;
    line-height: 100%;
    letter-spacing: 1px;
}
.lecturer ul{
    padding: 0 0 0 20px;
    margin: 15px 0 0 0;
}
.lecturer li{
    padding: 0 0 5px 0;
    font-size:14.4px;
}
.lecturer-list{
    text-align:left;
}

footer ul li{
    width: 50%;
    float: left;
    list-style: none;
    margin:0;
    padding: 0;
    font-size: 14.4px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
footer ul li a{
    text-decoration: none;
    display:block;
    padding: 15px 0 15px 0;
    color: #666;
}
#linkbox{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
#footer-box{
    margin:0 auto;
    padding:0;
    text-align: center;
    border-top: solid 1px #d73143;
}
.clearfix:before, .clearfix:after{
    content: " ";
    display: table;
}
.clearfix:after{
    clear:both;
}
#footer-box a::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #666;
    transform: scale(0, 1);
    transform-origin: center top;
}
#copyright{
    font-size: 12px;
    text-align:center;
    color:#999;
    padding: 20px 0;
    line-height:18px;
    font-family: 'Roboto Condensed', sans-serif;
}
.top{
    margin: 48px 0 0 0;
    padding: 15px;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #666;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}
.top li{
    list-style-type: none;
    display:inline;
}
.top li a {
    color:#666;
    text-decoration: none;
}
.title{
    text-align:center;
    margin: 45px 0 45px 0;
    padding: 0;
    font-size: 38.4px;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}
#wrapper{
    margin:0;
    padding:0;
}
.container{
    margin: 0;
    padding: 0 0 1px 0;
}
.main-content{
    margin: 0 25px 60px 25px;
    padding:0;
}
.sub-head{
    color:#d73143;
    font-size:16px;
    margin-top: 20px;
    text-align:center;
    letter-spacing: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}
.sub-head-jp{
    font-size:14px;
    text-align:center;
    margin: 5px 0 45px 0;
}
.law-table{
    width:100%;
}
.law-table th{
    border-bottom:1px solid #D73343;
    width:100%;
    color:black;
    background-color:white;
    text-align:left;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 1px;
    padding: 0 0 3px 0;
    text-align: left;
    margin:0;
    display:block;
}
.law-table td{
    font-size: 15px;
    padding: 8px 0 15px 0;
    display:block;
    letter-spacing: 1px;
    border-bottom:none;
    line-height: 160%;
}
.entry-table{
    width:100%;
}
.contact-head{
    background-color:#fff;
    color:black;
    border-bottom: solid 1px #ccc;
    text-align:left;
    font-size: 16px;
    padding: 15px 0px 5px 0;
    line-height: 100%;
    letter-spacing: 1px;
    display:flex;
    justify-content:space-between;
    width:100%;
}
.required{
    background: #d73143;
    font-size: 9.6px;
    color:#fff;
    text-align:right;
    padding: 1px 2px 2px 2px;
}
.contact-input{
    padding: 15px 0 5px 5px;
    border-bottom:none;
    display:block;
    width:100%;
}
input[type="text"] {
    width:100%;
}
textarea{
    width:100%;
}
input, textarea, select{
    padding: 10px;
    border: solid 1px #ccc;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
    box-sizing: border-box;
    -webkit-appearance: none;
}
input[type="submit"]{
    font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    background: #fff;
    border: solid 2px #d73143;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow:none;
}
.p-head{
    font-size:16px;
    margin: 45px 0 0 0;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 1px;
}
.p-text{
    font-size:14px;
}
.p-text a{
    color:#d73143;
}
.pattern2{
    width: 80%;
    margin: 15px 0 30px 0;
    padding: 20px 0;
    font-size: 16px;
    cursor:pointer;
}
.pattern2:hover{
    background-color:#d73143;
    color:#fff;
    transition: all .5s;
}
.menu-list{
    list-style:none;
    margin: 0;
    padding: 0 0 0 15px;

}
.peke{
    background-position: -40px 0;
}
.click{
    background:transparent url("images/btn.png") no-repeat;
    background-size: auto 35px;
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 9999;
}
.menu-list li{
    border-bottom: solid 1px #444;

}
.menu-list li a{
    color:#fff;
    display:block;
    padding: 16px 15px 14px 0;
    text-decoration: none;
}
.menu-list span{
    font-size: 12px;
    color: #999;
}
.drawr{
    background-color: rgba(0,0,0,0.80);
    position: fixed;
    top: 0px;
    right: 0;
    width: 310px;
    z-index: 2;
    height: 821px;
    padding: 45px 0 20px 0;
    display:none;
}

header.scroll {
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.9);
}